<% if user_signed_in? %>
  Signed in as <%= current_user.email %>
  <% if owner? %>
    &middot;
    <%= link_to "Edit Account", subscribem.edit_account_path %>
  <% end %>
<% else %>
  <%= link_to "Sign in", subscribem.sign_in_path %>
<% end %>
