<% if current_account.braintree_subscription_id.present? %>
  <%= render "existing_subscription" %>
<% else %>
  <%= render 'new_subscription' %>
<% end %>

<%= form_for :customer,
  :url => Braintree::TransparentRedirect.url,
  :html => {:autocomplete => "off"} do |customer| %>
    <% tr_data = Braintree::TransparentRedirect.create_customer_data(
    :redirect_url => subscribem.subscribe_account_url(:plan_id => params[:plan_id]),) %>
    <%= hidden_field_tag "tr_data", tr_data %>
    <%= customer.fields_for :credit_card do |cc| %>
      <p>
        <%= cc.label :number, "Credit card number" %><br>
        <%= cc.text_field :number %>
      </p>
      <p>
        <%= cc.label :cardholder_name, "Name on card" %><br>
        <%= cc.text_field :cardholder_name %>
      </p>
      <p>
        <%= cc.label :expiration_date, "Expiration date" %><br>
        <%= cc.text_field :expiration_date %>
      </p>
      <p>
        <%= cc.label :cvv, "CVV" %><br>
        <%= cc.text_field :cvv %>
      </p>
      <%= customer.submit "Change plan" %>

    <% end %>

<% end %>

<div class='plan-info'>
  <p>
    You are changing to the '<%= @plan.name %>' plan.
  </p>
  <p>
    This plan costs <strong>$<%= @plan.price %></strong> per month.
  </p>
</div>
